.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}

.checkoutProduct__info {
  padding-left: 10px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
