.home {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.home__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  margin-bottom: -150px;
}
.home__row {
  display: flex;
}
