.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
.login__logo {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__title {
  margin-bottom: 10px;
}
.login__container input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
}
.login__signInButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  height: 30px;
  border-radius: 2px;
  width: 100%;
}
.login__textPrivacy {
  font-size: 12px;
  margin-top: 15px;
}
.login__registerButton {
  border: 1px solid;
  border-color: darkgray;
  margin-top: 10px;
  height: 30px;
  border-radius: 2px;
  width: 100%;
}

.login__msgLogin {
  margin-top: 10px;
  color: red;
  font-weight: 800;
}
.login__msgRegister {
  margin-top: 10px;
  color: red;
  font-weight: 800;
}
