.payment {
  background-color: #fff;
}
.payment h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1 solid lightgray;
}
.payment h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
.payment__title {
  flex: 0.2;
}
.payment__address,
.payment__items,
.payment__detail {
  flex: 0.8;
}
.payment__detail form {
  max-width: 400px;
}
.payment__detail form button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  height: 30px;
  border-radius: 2px;
  width: 100%;
}
